body {
  background-image: url("../img/fondo-menu.png");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  align-items: center;
  margin: auto;
}

/* Animaciones de scroll */
.contenedor .tarjeta {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 550px;;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  transform: translateX(500%);
  transition: transform 0.4s ease;
}

.contenedor .tarjeta:nth-of-type(event){
  transform: translateX(-400);
}

.contenedor .tarjeta.show{
  transform: translateX(0);
}


.contenedor .foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* background-color: gray; */
}
.contenedor .titulo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
.contenedor .descripcion {
  margin-top: 10px;
  padding-left: 20px;
}
.contenedor a {
  text-decoration: none;
  color: black;
}
.contenedor a:hover {
  text-decoration: none;
  color: black;
}

.imgPerfil {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

footer {
  margin-top: auto;
}